@import '@/common.scss';

.header {
    padding: 0px $s-space;
    background-color: $c-bg-alt;
    
    .group {
        height: $s-space * 8;

        .button {
            position: relative;
            top: $s-space * 1.5;
            font-size: $s-space * 1.5;
        }
    }

    .user-info {
        position: relative;
        top: $s-space * 1.5;
    }
}