$c-bg: rgb(29, 27, 27);
$c-bg-alt: rgb(46, 44, 44);
$c-fg: rgb(238, 238, 238);
$c-primary: rgb(43, 113, 143);
$c-err: rgb(170, 29, 29);

$s-space: 8px;
$s-rounding: 2px;

@mixin m-panel {
    padding: $s-space;
    background-color: $c-bg-alt;
    border-radius: $s-rounding;
}
