@import '@/common.scss';


.brand {
    display: inline-block;
    vertical-align: top;
    width: $s-space * 6;
    height: $s-space * 6;
    border-radius: $s-rounding;
    background-color: $c-primary;
}