@import '@/common.scss';


.group {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    padding: $s-space;

    &.align-left {
        text-align: left;
    }

    &.align-right {
        text-align: right;
    }

    &.align-bottom {
        vertical-align: bottom;
    }

    &.size-half {
        width: 50%;
    }

    &.size-third {
        width: 33.3332%;
    }
}
