@import '@/common.scss';


.text-field-container {
    .text-field {
        padding: $s-space;
        background-color: $c-bg;
        color: $c-fg;
        border: 2px solid $c-bg;
        outline: none;
        border-radius: $s-rounding;
        width: 100%;

        &.invalid {
            border-color: $c-err;
        }
    }
}